.card {
    border-width: 0;
    margin-right: 5%;
    margin-left: 2%;
    margin-bottom: 6%;
    width: 40%;
    opacity: 0;
    transform: translateX(-50px);
    animation: slide-in 1s forwards;
}

.icon {
    text-shadow: 0 0 4px black;
    align-self: center;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-50px)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
