# Config file for npm.
#
# https://docs.npmjs.com/cli/v7/using-npm/config
#
# always output in color since GitLab can handle it
color=always
# enforce engine requirement defined by packages
engine-strict=true
# increase the retries for fetching packages from the default of 2
fetch-retries=4
# don't display funding information
fund=false
# set Nexus as the defult registry
@swa-ccp:registry=https://nexus-tools.swacorp.com/repository/npm-releases/
registry=https://nexus-tools.swacorp.com/repository/npm/
# allow self-signed certs for Nexus
strict-ssl=false
