**.tfstate.backup
**/*.tfstate
**/tfvars/**/README.md
**node_modules/
**plan-checkov.json
**plan.out
**tfstate.backup
.DS_Store
.coverage
.external_modules
.general-resources
.general-resources.mk
.pytest_cache/
.python-version
.terraform/
.venv/
__pycache__/
builds/
coverage.xml
deployment_env_setup.sh
module.tar.gz
reports/
terraform.log
terraform.tfstate
terraform/terraform.tfstate
tfplan.*
