**.tfstate.backup
**/*.tfstate
**/tfvars/**/README.md
**node_modules/
**plan-checkov.json
**plan.out
**tfstate.backup
.DS_store
.amazonq/*
.external_modules
.general-resources
.general-resources.mk
.pnpm-store/
.python-version
.terraform/
.tool-versions
.venv/
.yarn/
AWSInfo.md
app/
build/
builds/
coverage.xml
coverage/
deployment_env_setup.sh
get-aws-state.sh
module.tar.gz
reports/
terraform.log
terraform.tfstate
terraform/errored.tfstate
terraform/terraform.tfstate
tfplan.*
yarn_cache/
