variables:
  # # NOT RECOMMENDED: if you want to deploy in dev from MR pipelines
  # ENABLE_NOT_RECOMMENDED_MR_DEV_DEPLOY: 'true'

  NODEJS_NAMESPACED_BUILD_DISABLED: false
  NODEJS_TEST_DISABLED: false

  # # If you want to change node versions set this variable.
  # NODE_VERSION: "22"

  # # If you want to run destroy pipeline
  # PIPELINE_ACTION: destroy

  # # ***WARNING***: You have to get exemption from CloudSec (Slack channel: #team-cloudsecurity)
  # # to suppress any vulnerabilities.
  # #
  # # Showing how you can suppress a rule. Checkov will still show you the errors but will exit with 0
  # # As a result pipeline will show green.
  # #
  # # Default is `--quiet --support --repo-root-for-plan-enrichment terraform --soft-fail-on MEDIUM`.
  # #
  # # Use this only when you have exemptions from CloudSec for checks that cannot be resolved.
  # #
  # # Use this option if you want to override default options for all namespaces.
  # # If you want to set these options for a single namespace then set as variables in `environments.yml` file.
  # # This will be overridden by options set per namespace in `environments.yml` file.
  # #
  # # Check https://www.checkov.io/2.Basics/CLI%20Command%20Reference.html for checkov options
  # OPTS_CHECKOV_DYNAMIC_SCAN: --quiet --support --repo-root-for-plan-enrichment terraform --soft-fail-on LOW,CKV_AWS_26,CKV_AWS_169
  #
  # Forcing all namespaces to fail on MEDIUM and above vulnerabilities
  OPTS_CHECKOV_DYNAMIC_SCAN: --quiet --support --repo-root-for-plan-enrichment terraform --soft-fail-on MEDIUM,CKV_AWS_68,CKV_AWS_192,CKV2_AWS_11,CKV2_AWS_12,CKV2_AWS_47,806079905565028352_AWS_1752071438638

  # # Similar to `OPTS_CHECKOV_DYNAMIC_SCAN` you can use `OPTS_CHECKOV_STATIC_SCAN` to override the IAC stattic scan job.
  # # Same warnings and details apply as above for `OPTS_CHECKOV_DYNAMIC_SCAN`.
  # #
  # # NOTE that this is for the static checkov scan which is not namespaced and will have no effects if you add them to `environments.yml`
  # # which genrates jobs for each namespaces.
  # #
  # # Default is `--quiet --support --download-external-modules true --soft-fail-on MEDIUM`.
  # OPTS_CHECKOV_STATIC_SCAN: --quiet --support --download-external-modules true --soft-fail-on LOW

  # NOTE: Adding same ignores as dynamic scan which was already there and removing unneeded ones.
  #
  # Soft failing on (false-positvies)
  #
  # 806079905565028352_AWS_1728321732009: "ddarke - AWS Ensure encrypted S3 bucket is using a ddarke KMS key"
  #
  # Explanation:
  # As they are coming from "terraform-aws-modules/s3-bucket/aws" public module defaults but when deploying these are all configured properly.
  # Check dynamic scan job results.
  #
  OPTS_CHECKOV_STATIC_SCAN: --quiet --support --download-external-modules true --soft-fail-on MEDIUM,CKV2_AWS_11,CKV2_AWS_12,CKV2_AWS_47,806079905565028352_AWS_1752071438638,806079905565028352_AWS_1759408445274,CKV_AWS_19

  # # Use this if you are NOT setting a region per namespace in `environments.yml`.
  # # This variable has the **highest precedence** and will override any region settings in `environments.yml`
  # # when the a pipeline is trigerred manually.
  # REGION:
  #   value: us-east-1
  #   options:
  #     - us-east-1
  #     - us-west-2
  #     - eu-central-1
  #     - eu-west-1
  #   description: Select a region to apply infrastructure changes to

  # Use this if you ARE setting regions per namespace in `environments.yml`.
  # This variable **will be overridden** by the `REGION` value set in `environments.yml`.
  AWS_REGION:
    value: us-east-1
    options:
      - us-east-1
      - us-west-2
      - eu-central-1
      - eu-west-1
    description: Select a region to apply infrastructure changes to

include:
  - project: ddarke-common/devplat/ccp-next/ccp-next-pipeline-fragments
    ref: 2.13.0
    file: pipelines/deploy-infra.gitlab-ci.yml
  - local: .gitlab-deployments-ci.yml
  # FIXME: need sonar scan in prod
  # - component: $CI_SERVER_FQDN/ddarke-common/devplat/components/sonar/sonar@v2.14.0
  #   inputs:
  #     job-stage: sonar_scan
  #     allow-failure: false

# override sonar-scan component
# .allow_failure_sonar_scan:
#   rules:
#   - if: |
#       $CI_COMMIT_TAG =~ /^(v)?[0-9]*\.[0-9]*\.[0-9]*((-|\+)[a-zA-Z0-9_\-\.]+)?$/ &&
#       $CI_COMMIT_MESSAGE =~ /^chore\(release\): .*/ &&
#       $SONAR_BUILDBREAKER_DISABLED == "true"
#     allow_failure: true
#   - if: |
#       (
#         (
#           (
#             $CI_COMMIT_REF_PROTECTED == "true" ||
#             $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
#           ) &&
#           $CI_PIPELINE_SOURCE == "push"
#           ) ||
#           $CI_PIPELINE_SOURCE == "merge_request_event"
#       ) &&
#       $SONAR_BUILDBREAKER_DISABLED == "true"
#     allow_failure: true

# sonar-scan:
#   rules:
#     - !reference [.__rule-ignore-test-nodejs, rules]
#     - !reference [.__rule-ignore-destroy, rules]
#     - !reference [.allow_failure_sonar_scan, rules]
#     - !reference [.__rule-is-tagged-release, rules]
#     - !reference [.__rule-nodejs, rules]
