.sidebar {
    background-color: #222427;
    height: 100vh;
    padding: min(20px, 2vw);
    border-right: 1px solid #222427;
    position: fixed;
    left: -100%;
    top: 0;
    width: min(300px, 30vw);
    transition: left 0.2s;
    z-index: 1040;
    color: #d3d3d3;
}

.sidebar.visible {
    left: 0;
}

.sidebar:not(.visible) {
    visibility: hidden;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    padding: 5%;
    cursor: pointer;
    font-size: min(1.2rem, 1.4vw);
}

.sidebar-item:hover {
    background-color: #2a2c31;
}

.sidebar-toggle {
    margin: 10px
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1039;
}
